<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.2.1.min.js" type="javascript"></script>
    <link type="text/css" href="css/bootstrap.min.css"/>
    <script src="js/bootstrap.min.js" type="javascript"></script>
    <!--<link href="/templates/css/bootstrap.min.css"/>-->

    <script>
        $(document).ready(function () {
            alert("test")
        });

    </script>
</head>
<body>
<div class="navbar-header">

    <h1>
        测试
    </h1>

</div>

</body>
</html>